<head>
    <style>
        body {

            font-family: "Roboto", sans-serif;

        }

        div {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 500px;
            height: 200px;
        }
    </style>
    <script src="/jquery-3.5.1.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <table>
            <tr>
                <td>
                    <img alt="Avtar" class="shadow p-3 mb-5 bg-white rounded" src="/logo.ico"></img>
                </td>
                <td>
                    Bạn đã rời khỏi phòng họp
                </td>
            </tr>
        </table>
      
        
    </div>
</body>